@{
    ViewData["Title"] = "Home Page";
}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active" style="background: url(images/DunwoodCrossing.png) center; background-size: cover;">
          <img class="first-slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Dunwood crossing</h1>
              <p>The tale of the village of Dunwood crossing
			  </p>
            </div>
          </div>
        </div>
        <div class="item" style="background: url(images/a_game_of_daggers_by_shutupandwhisper-d6x6hbt.jpg) center; background-size: cover;">
		<img class="second-slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Southern cross inn.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
             </div>
          </div>
        </div>
		 <div class="item" style="background: url(images/1600x900_fantasy-forest-awesome-artwork-human-in-the-deep-HD-Wallpaper.jpg) center; background-size: cover;">
          <img class="second-slide" src="" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>The autumn forest.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
             </div>
          </div>
        </div>
      
        <div class="item" style="background: url(images/6899-mountain-1680x1050-fantasy-wallpaper.jpg) center; background-size: cover;">
          <img class="third-slide" src="" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>High Peak</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->




    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
    
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Tidsåldrarna </h2>
          <p class="lead">Det fanns en tid då gudarna var mångtaliga och vandrade på jorden sida vid sida med människorna och vi, Aremmi, räknar frändskap genom arv med dessa urmänniskor.</p><p> Under denna den första åldern förändrades världen från ofärdig, Kaos, till ordnad genom Gudomlig lag. Därefter rådde stillhet under en hel ålder, den andra som kallas den gyllene. Men de många gudarna blev rastlösa och gräl utbröt vilket snart tilltog till det första kriget - Gudafallet, ett krig som nästan helt ödelade jorden. Många gudar dödades och resten försvann. Den tredje åldern - den mörka, hade inletts. Nu när gudarna var borta återstod endast Kaos som ensam härskare. Många folk gick under, tröstlösa och utan hopp och Aremmi gick mot samma öde. Då framträdde en hjälte som hette Heruk Monte, vars far gått på jorden bland gudarna. Han sökte allra starkast och gav med sökandet ett hopp till sitt folk och lönades till slut med en uppenbarelse av den äldsta guden Autan som skulle ända den tredje åldern. I den gavs gudomliga gåvor såsom plogen, hjulet, jäsningen och begravningsskicket. Den fjärde åldern, Aremmis ålder, gav därför ett välstånd och en prakt som saknade motstycke. Denna ålder varade i tusen år.</p><p>

Vår ålder kallas söndringens ålder och är den femte. Den började med att Aremmi tagit gåvorna för givet och underlåtit att utföra de böner, riter och offer som seden bjöd. Detta misshagade gudarna som tog bort sin skyddande hand från oss. Flerårig missväxt följde och i dess släptåg krig. Inget annat präglar vår tid som krigen, mot grannar såväl som mot bröder och systrar.
</p><p>
Det sägs dock att sjätte åldern stundar. Järtecknen är sällsamma, det har setts fåglar som ingen vet namnet på och det går envetna rykten om att det rids budkavlar med varsel om uppror.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/rag-thin.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Gudarna </h2>
		  <p>Med seder och riter blidkas de gudar som i prövningarna bistått Aremmi.</p>
          <p class="lead">Autan</p>
		  <p>den upphöjda vishetens och lagens gud som tystnar emellanåt och vänder sitt anlete från oss. Hans bröder</p>
		  <p class="lead">Skytos </p>
		  <p>den vredgade, den snare – hämndens och krigets gud som orsakar torka och bränder där han går, samt</p>
		  <p class="lead">Helios </p>
		  <p>den gode välgöraren och det milda livgivande ljuset.</p>
		   <p class="lead">Era  </p>
		  <p>är Autans gemål och försöker mildra konsekvenserna av sin makes frånfälle. Därför är hon förlåtelsens och fredens gudinna. Vissa hävdar att hon snarare är Skytos gemål men de är förledda och korrumperade.</p>
		   <p class="lead">Aman Tan </p>
		  <p>härskar över dödsriket och sår oförutsägbart sjukdomar och katastrofer för att sen kunna skörda liv. Det är honom man försöker blidka för att undvika döden men också för att bli frisk från sjukdomar och få tur.</p>
		   <p class="lead">Mehanna  </p>
		  <p>är den livgivande jordmodern och Helios gemål. Hon livnär, skyddar och värnar Aremmi som ingen annan gud.</p>
		   <p class="lead">Heruk Monte </p>
		  <p>föddes som människa men blev en gud varför han dyrkas som deras likar. </p>
		   <p class="lead">Hanak Monte </p>
		  <p>var Heruks bror och den första som plöjde jorden med en plog, allt enligt Heruks gudomliga instruktion. Hanaks gudastatus är omtvistad. </p>
		  
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

    

      <hr class="featurette-divider">