@{
    ViewData["Title"] = "Places";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>



<div class="container marketing">
<h2>@ViewData["Title"]</h2>


<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">High Peak</h2>
          
          <p class="lead">A rugged cliff peaks its forboding head in the forest clad hillside.</p>
           <p> Not the greatest of mountains, nor the tallest,
it's placement makes it a dagger wound in the wilderness. The mountains do not start yet for another couple of leagues
so High Peak is a noticeable landmark. Every generation a few youngsters try and prove their prowess by climing its peak
and every time, at least one dies. This has lead to the saying, "High Peak must have its due..". THe path up to the peak is harsh, the forest beneath it cover a rocky hillside with many a trap-fall. There is also not unheard of to spot mountain cats and cave bears in the vicinity, making the trip something parents of adventurous youth, dread.</p>
       
          </div>
        <div class="col-md-5"  style="background: url(images/a_game_of_daggers_by_shutupandwhisper-d6x6hbt.jpg) center; background-size: cover;">
     
         </div>
      </div>

<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Southern Cross Inn.</h2>
          
          <p class="lead">Almost back at the capital, there is a crossroad of some renown.</p>
           <p> The northern roads meets the western road and many of the landbound caravans finds themselves here every now and then.  A roadhouse was built in times past and has now grown to something greater. A great Inn of not a little disrespute. Here people who sell their services for money flourish, a place normal people avoid. A small riverdock has been built on the ruins of some ancient building, making it a good place for river- and sea-traders to negotiate their trade. Travellers may be rare in the farm side but here they are aplenty. Gambling and whoring, mercenaries, traders and vagrants, Foreigners and thief, All gather here to share stories or trade goods and services.</p>
          </div>
        <div class="col-md-5">
     
         </div>
      </div>
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">The Autumn Forest</h2>
          
          <p class="lead">Hidden north of Dunwood, deep in the pine forest, is a small basin of lush deciduous forest.</p>
           <p> The ground clears up and a few small streams gather from the mountains and form a deep forest pool. Stories say it has no bottom and continues forever.
The most noticeable thing about the basin are the colors, the few visitors who has found it says. Red and yellow and green mix together all year long, to make an almost painfull color picture. Why it is so no one knows but many have their stories. Some say it was the falling place of one of the Gods and the colors come from the blood of the fallen, infusing its lifeforce into the trees. Some say it is where Mehanna knelt and shed tears over some long lost event. Some even say it is infused by the magic of the Fae, being a doorway into their realm.</p>
       
          </div>
        <div class="col-md-5">
     
         </div>
      </div>
<div class="row featurette">
    <div class="col-md-12">
        <div class="featurette-heading"> Dunwood Crossing </div>
         <div class="col-md-6">
            <h3>Devarians Mill and Bakery</h3>
            <p> A low wall surrounds the mill, the bakery and a small storage building making up the Devarian estate. Just outside the wall along the river the old stone based, wooden topped water mill stands with it's wheel turning
                Often thick white smoke billow out of the chimneys in the low stone building next to the mill, spreading the scent of newly baked bread around its surroundings.
            </p>
            <table>
                <tr> <th>Item</th><th>Weight </th><th>Cost (sp)</th>
                </tr>
                <tr>
                    <td>Loaf</td>
                    <td>-</td>
                    <td>2 tinn</td>
                </tr>
                </table>
         </div>
        
        
        <div class="col-md-6">
            <h3>Marks general goods</h3>
            <p>A small wooden door leads into the the wellkept interior of Marks General Store. Shelves littered with goods and general appliance items
                line the walls. Mark himself is a jovial fellow, easy to laugh, hard to anger altough he has a bit of a cowardly reputation, not one you would trust to hold your back.</p>
            <table>
                <tr> <th>Item</th><th>Weight </th><th>Cost (sp)</th>
                </tr>
                <tr>
                    <td>Backpack</td>
                    <td>10</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Barrel</td>
                    <td>30</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Bedroll</td>
                    <td>5</td>
                    <td>2cp</td>
                </tr>
                <tr>
                    <td>Bell</td>
                    <td>-</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Blanket, woollen</td>
                    <td>2</td>
                    <td>5cp</td>
                </tr>
                <tr>
                    <td>Block and tackle</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr>	<td>	Bottle (wine), glass	</td><td>	1	</td><td>	2 	</td>	</tr>
                <tr>	<td>	Box (empty)	</td><td>	15	</td><td>	1 </td>	</tr>
                
            <tr>
		<td>	Caltrops	</td>
		<td>	2	</td>
		<td>	1 	</td>
	</tr>
	<tr>
		<td>	Candle, beeswax	</td>
		<td>	-	</td>
		<td>	1 tinn	</td>
	</tr>
	<tr>
		<td>	Canvas (per sq.yd)	</td>
		<td>	1	</td>
		<td>	1 cp	</td>
	</tr>
	<tr>
		<td>	Cauldron and tripod	</td>
		<td>	15	</td>
		<td>	2 	</td>
	</tr>
	<tr>
		<td>	Chain (per 10 ft)	</td>
		<td>	10	</td>
		<td>	30 sp	</td>
	</tr>
	<tr>
		<td>	Chalk, piece	</td>
		<td>	-	</td>
		<td>	1 tinn 	</td>
	</tr>
	<tr>
		<td>	Chest (empty)	</td>
		<td>	25	</td>
		<td>	2 sp	</td>
	</tr>
    <tr>
		<td>	Caltrops	</td>
		<td>	2	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Candle, beeswax	</td>
		<td>	-	</td>
		<td>	1 tinn	</td>
	</tr>
	<tr>
		<td>	Canvas (per sq.yd)	</td>
		<td>	1	</td>
		<td>	1 cp	</td>
	</tr>
	<tr>
		<td>	Cauldron and tripod	</td>
		<td>	15	</td>
		<td>	2 sp	</td>
	</tr>
	<tr>
		<td>	Chain (per 10 ft)	</td>
		<td>	10	</td>
		<td>	30 sp	</td>
	</tr>
	<tr>
		<td>	Chalk, piece	</td>
		<td>	-	</td>
		<td>	1 tinn 	</td>
	</tr>
	<tr>
		<td>	Chest (empty)	</td>
		<td>	25	</td>
		<td>	2 sp	</td>
	</tr>
	<tr>
		<td>	Crowbar	</td>
		<td>	5	</td>
		<td>	2 sp	</td>
	</tr>
	<tr>
		<td>	Dice, bone, pair	</td>
		<td>	-	</td>
		<td>	5 cp	</td>
	</tr>
	<tr>
		<td>	Dice, loaded, pair	</td>
		<td>	-	</td>
		<td>	5 sp	</td>
	</tr>
	<tr>
		<td>	Fish hook	</td>
		<td>	-	</td>
		<td>	1 cp	</td>
	</tr>
	<tr>
		<td>	Fishing net (per 25 sq.ft)	</td>
		<td>	-	</td>
		<td>	1 cp	</td>
	</tr>
	<tr>
		<td>	Flask (leather)	</td>
		<td>	-	</td>
		<td>	3 tinn	</td>
	</tr>
	<tr>
		<td>	Flint and steel	</td>
		<td>	-	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Grappling hook	</td>
		<td>	4	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Hammer (tool, not war)	</td>
		<td>	2	</td>
		<td>	5 cp	</td>
	</tr>
	<tr>
		<td>	Holy symbol, silver	</td>
		<td>	1	</td>
		<td>	25 sp	</td>
	</tr>
	<tr>
		<td>	Holy symbol, pewter	</td>
		<td>	1	</td>
		<td>	5 sp	</td>
	</tr>
	<tr>
		<td>	Holy symbol, wooden	</td>
		<td>	1	</td>
		<td>	6 cp	</td>
	</tr>
	<tr>
		<td>	Hose	</td>
		<td>	-	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Iron spikes, dozen	</td>
		<td>	5	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Ladder (per 10 ft)	</td>
		<td>	20	</td>
		<td>	5 cp	</td>
	</tr>
	<tr>
		<td>	Lamp (bronze)	</td>
		<td>	1	</td>
		<td>	1 cp	</td>
	</tr>
	<tr>
		<td>	Lantern, bullseye	</td>
		<td>	3	</td>
		<td>	12 sp	</td>
	</tr>
	<tr>
		<td>	Lantern, hooded	</td>
		<td>	2	</td>
		<td>	7 sp	</td>
	</tr>
	<tr>
		<td>	Lock	</td>
		<td>	1	</td>
		<td>	20+ sp	</td>
	</tr>
	<tr>
		<td>	Manacles	</td>
		<td>	2	</td>
		<td>	15 sp	</td>
	</tr>
	<tr>
		<td>	Mirror (small steel)	</td>
		<td>	½ 	</td>
		<td>	20 sp	</td>
	</tr>
	<tr>
		<td>	Mirror (small silver)	</td>
		<td>	½ 	</td>
		<td>	45 sp	</td>
	</tr>
	<tr>
		<td>	Musical instrument	</td>
		<td>	1+	</td>
		<td>	5+ sp	</td>
	</tr>
	<tr>
		<td>	Needle and thread	</td>
		<td>	-	</td>
		<td>	3 tinn	</td>
	</tr>
	<tr>
		<td>	Oil (lamp) (per pint)	</td>
		<td>	1	</td>
		<td>	1 cp	</td>
	</tr>
	<tr>
		<td>	Parchment (per sheet)	</td>
		<td>	-	</td>
		<td>	2 cp	</td>
	</tr>
	<tr>
		<td>	Pin (cloak)	</td>
		<td>	-	</td>
		<td>	4 cp	</td>
	</tr>
	<tr>
		<td>	Piton	</td>
		<td>	½	</td>
		<td>	1 cp	</td>
	</tr>
	<tr>
		<td>	Pole (per 10 ft)	</td>
		<td>	8	</td>
		<td>	2 cp	</td>
	</tr>
	<tr>
		<td>	Pot, iron	</td>
		<td>	10	</td>
		<td>	5 cp	</td>
	</tr>
		<tr>
		<td>	Quill (pen)	</td>
		<td>	-	</td>
		<td>	1 cp	</td>
	</tr>
	<tr>
		<td>	Quiver (holds 12 arrows)	</td>
		<td>	1 (empty)	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Quiver (holds 24 arrows)	</td>
		<td>	2 (empty)	</td>
		<td>	25 cp	</td>
	</tr>
	<tr>
		<td>	Quiver (holds 12 bolts)	</td>
		<td>	1 (empty)	</td>
		<td>	12 cp	</td>
	</tr>
	<tr>
		<td>	Quiver (holds 24 bolts)	</td>
		<td>	2 (empty)	</td>
		<td>	3 sp	</td>
	</tr>
	<tr>
		<td>	Rations, standard (per day)	</td>
		<td>	2	</td>
		<td>	2 sp	</td>
	</tr>
	<tr>
		<td>	Rations, trail (per day)	</td>
		<td>	1	</td>
		<td>	6 sp	</td>
	</tr>
	<tr>
		<td>	Rope, hemp (per 50 ft)	</td>
		<td>	10	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Rope, silk (per 50 ft)	</td>
		<td>	5	</td>
		<td>	10 sp	</td>
	</tr>
	<tr>
		<td>	Sack, small	</td>
		<td>	½ (empty)	</td>
		<td>	9 tinn	</td>
	</tr>
	<tr>
		<td>	Sack, large	</td>
		<td>	1 (empty)	</td>
		<td>	15 tinn	</td>
	</tr>
		<tr>
		<td>	Satchel	</td>
		<td>	5 (empty)	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Scrollcase, bone	</td>
		<td>	½ 	</td>
		<td>	4 sp	</td>
	</tr>
	<tr>
		<td>	Scrollcase, leather	</td>
		<td>	½ 	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Shovel	</td>
		<td>	8	</td>
		<td>	2 sp	</td>
	</tr>
	<tr>
		<td>	Signal whistle	</td>
		<td>	-	</td>
		<td>	8 cp	</td>
	</tr>
	<tr>
		<td>	Skillet	</td>
		<td>	5	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Soap (per lb)	</td>
		<td>	1	</td>
		<td>	5 cp	</td>
	</tr>
	<tr>
		<td>	Spell book (blank)	</td>
		<td>	5	</td>
		<td>	25 sp	</td>
	</tr>
	<tr>
		<td>	Tent	</td>
		<td>	20	</td>
		<td>	10 sp	</td>
	</tr>
	<tr>
		<td>	Thieves’ Tools	</td>
		<td>	1	</td>
		<td>	30 sp	</td>
	</tr>
	<tr>
		<td>	Torch	</td>
		<td>	1	</td>
		<td>	1 tinn	</td>
	</tr>
		<tr>
		<td>	Twine, linen (per 100 ft)	</td>
		<td>	½ 	</td>
		<td>	8 tinn	</td>
	</tr>
	<tr>
		<td>	Vellum (per sheet)	</td>
		<td>	-	</td>
		<td>	3 cp	</td>
	</tr>
	<tr>
		<td>	Water, holy (per vial)	</td>
		<td>	½ 	</td>
		<td>	25 sp	</td>
	</tr>
	<tr>
		<td>	Waterskin (3 pint)	</td>
		<td>	1 (empty)	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Whetstone	</td>
		<td>	½	</td>
		<td>	2 tinn	</td>
	</tr>
	<tr>
		<td>	Wine, pint	</td>
		<td>	1	</td>
		<td>	5 cp	</td>
	</tr>
            
            
                </table>
            
        </div>
        <div class="col-md-6">
        <h3>The green pasture</h3>
            <p>Farn and Eliza run a small farm on the outskirts of Durnwood. They do not grow much but instead have the largest herd of animals. 
                They have both cows, sheep and even some horses, used for breeding and trading. 
            </p>
            <table>
                <tr> <th>Item</th><th>Weight </th><th>Cost (sp)</th>
                </tr>
               
	<tr>
		<td>	Horse, cart	</td>
		<td>	N/A	</td>
		<td>	15 sp	</td>
	</tr>
	<tr>
		<td>	Horse, nag	</td>
		<td>	N/A	</td>
		<td>	8 sp	</td>
	</tr>
	<tr>
		<td>	Horse, palfrey	</td>
		<td>	N/A	</td>
		<td>	40+ sp	</td>
	</tr>
	<tr>
		<td>	Horse, rouncey	</td>
		<td>	N/A	</td>
		<td>	25 sp	</td>
	</tr>
	<tr>
		<td>	Horse, war, heavy	</td>
		<td>	N/A	</td>
		<td>	500+ sp	</td>
	</tr>
	<tr>
		<td>	Horse, war, light	</td>
		<td>	N/A	</td>
		<td>	200+ sp	</td>
	</tr>
	<tr>
		<td>	Horse, war, medium	</td>
		<td>	N/A	</td>
		<td>	350+ sp	</td>
	</tr>
	
	<tr>
		<td>	Mule	</td>
		<td>	N/A	</td>
		<td>	18 sp	</td>
	</tr>
	<tr>
		<td>	Ox	</td>
		<td>	N/A	</td>
		<td>	15 sp	</td>
	</tr>
	
	<tr>
		<td>	Pony	</td>
		<td>	N/A	</td>
		<td>	12 sp	</td>
	</tr>
	<tr>
		<td>	Reins, bit and bridle	</td>
		<td>	5	</td>
		<td>	2 sp	</td>
	</tr>
	<tr>
		<td>	Saddle and stirrups	</td>
		<td>	20	</td>
		<td>	10 sp	</td>
	</tr>
	<tr>
		<td>	Wagon, small	</td>
		<td>	N/A	</td>
		<td>	100 sp	</td>
	</tr>
	<tr>
		<td>	Wagon, large	</td>
		<td>	N/A	</td>
		<td>	250 sp	</td>
	</tr>
                </table>
                </div>
                
                <div class="col-md-6">
                <h3>Hurns fineries and liveries</h3>
            <p>The towns vendor is a friendly but elderly man named Hurn. His small shop have been in his family for generations but he lives alone and is last of his line.
                He does excellent work when paid for it, but don't mind sewing up sturdy working outfits either. He works mainly in linnen, some silk when he gets ahold of it, fur
                but also dabbles a bit in hardend leather, having made some pieces for the local guardsmen.
            </p>
                 <table>
                <tr> <th>Item</th><th>Weight </th><th>Cost (sp)</th>
                </tr>
              
	<tr>
		<td>	Belt	</td>
		<td>	-	</td>
		<td>	5 cp	</td>
	</tr>
	<tr>
		<td>	Blanket, woollen	</td>
		<td>	2	</td>
		<td>	5 tinn	</td>
	</tr>

	<tr>
		<td>	Boots, soft	</td>
		<td>	3	</td>
		<td>	1 sp	</td>
	</tr>
	<tr>
		<td>	Boots, heavy	</td>
		<td>	5	</td>
		<td>	2 sp	</td>
	</tr>
	
	<tr>
		<td>	Bracer, leather (archery)	</td>
		<td>	1	</td>
		<td>	8 cp	</td>
	</tr>
	
	<tr>
		<td>	Cloak	</td>
		<td>	2	</td>
		<td>	3 tinn	</td>
	</tr>
	
	
	<tr>
		<td>	Doublet, linen	</td>
		<td>	1	</td>
		<td>	3 sp	</td>
	</tr>
	
	
	<tr>
		<td>	Gloves, kidskin, pair	</td>
		<td>	½ 	</td>
		<td>	3 sp	</td>
	</tr>
	<tr>
		<td>	Gown, woollen	</td>
		<td>	1	</td>
		<td>	5 tinn	</td>
	</tr>
	<tr>
		<td>	Gown, linen	</td>
		<td>	1	</td>
		<td>	3 sp	</td>
	</tr>
	
	<tr>
		<td>	Gown, silk	</td>
		<td>	1	</td>
		<td>	50+ sp	</td>
	</tr>
	
	<tr>
		<td>	Pouch, belt, large	</td>
		<td>	2 (empty)	</td>
		<td>	4 cp	</td>
	</tr>
	<tr>
		<td>	Pouch, belt, small	</td>
		<td>	1 (empty)	</td>
		<td>	2 cp	</td>
	</tr>

	
	<tr>
		<td>	Robe, linen	</td>
		<td>	1	</td>
		<td>	3 sp	</td>
	</tr>
	<tr>
		<td>	Robe, silk	</td>
		<td>	1	</td>
		<td>	60+ sp	</td>
	</tr>
	
	
	<tr>
		<td>	Shoes, common	</td>
		<td>	1	</td>
		<td>	5 cp	</td>
	</tr>
	<tr>
		<td>	Shoes, noble	</td>
		<td>	1	</td>
		<td>	30+ sp	</td>
	</tr>
	
	<tr>
		<td>	Tunic, woollen	</td>
		<td>	1	</td>
		<td>	5 tinn	</td>
	</tr>
	<tr>
		<td>	Tunic, banqueting	</td>
		<td>	1	</td>
		<td>	10+ sp	</td>
	</tr>

	
                </table>
                </div>
        
        </div>
  
    
      
      </div>
      </div>