@{
    ViewData["Title"] = "Places";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>



<div class="container marketing">
<h2>@ViewData["Title"]</h2>


<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">High Peak</h2>
          
          <p class="lead">A rugged cliff peaks its forboding head in the forest clad hillside.</p>
           <p> Not the greatest of mountains, nor the tallest,
it's placement makes it a dagger wound in the wilderness. The mountains do not start yet for another couple of leagues
so High Peak is a noticeable landmark. Every generation a few youngsters try and prove their prowess by climing its peak
and every time, at least one dies. This has lead to the saying, "High Peak must have its due..". THe path up to the peak is harsh, the forest beneath it cover a rocky hillside with many a trap-fall. There is also not unheard of to spot mountain cats and cave bears in the vicinity, making the trip something parents of adventurous youth, dread.</p>
       
          </div>
        <div class="col-md-5">
     
         </div>
      </div>

<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Southern Cross Inn.</h2>
          
          <p class="lead">Almost back at the capital, there is a crossroad of some renown.</p>
           <p> The northern roads meets the western road and many of the landbound caravans finds themselves here every now and then.  A roadhouse was built in times past and has now grown to something greater. A great Inn of not a little disrespute. Here people who sell their services for money flourish, a place normal people avoid. A small riverdock has been built on the ruins of some ancient building, making it a good place for river- and sea-traders to negotiate their trade. Travellers may be rare in the farm side but here they are aplenty. Gambling and whoring, mercenaries, traders and vagrants, Foreigners and thief, All gather here to share stories or trade goods and services.</p>
          </div>
        <div class="col-md-5">
     
         </div>
      </div>
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">The Autumn Forest</h2>
          
          <p class="lead">Hidden north of Dunwood, deep in the pine forest, is a small basin of lush deciduous forest.</p>
           <p> The ground clears up and a few small streams gather from the mountains and form a deep forest pool. Stories say it has no bottom and continues forever.
The most noticeable thing about the basin are the colors, the few visitors who has found it says. Red and yellow and green mix together all year long, to make an almost painfull color picture. Why it is so no one knows but many have their stories. Some say it was the falling place of one of the Gods and the colors come from the blood of the fallen, infusing its lifeforce into the trees. Some say it is where Mehanna knelt and shed tears over some long lost event. Some even say it is infused by the magic of the Fae, being a doorway into their realm.</p>
       
          </div>
        <div class="col-md-5">
     
         </div>
      </div>

      
      </div>